<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<table 	class="table table-striped">
	<tr>
		<th>Id</th>
		<th>title</th>
		<th>details</th>
		<th></th>
	</tr>
	/* this is events index view */
	<% @events.each do |a| %>
		<tr>
			<td><%= a.id %></td>
			<td><%= a.title %></td>
			<td><%= a.event_details %></td>
			<td><%= link_to "Show", event_path(a.id) %></td>


	<% end %>
</table>